<div class="product-card {{product.stock|yesno:',disabled'}}">
     <div class="product-image">
        <img src="{{product.image_url}}" alt="">
    </div>

    <div class="product-title">
        <a href="{% url "store:product_detail" product.slug %}">{{product.name}}</a>
    </div>

    <div class="product-order">
        <div class="product-price">{{product.price}} грн</div>
        {% if product.stock %}
            <div>
                <a href="{% url "store:order_views" product.id %}" class="btn-order">Замовити</a>
            </div>
        {% endif %} 
    </div>

    
</div>