{% extends 'store/base.html' %}
{% load static %}

{% block title %} Інтернет-магазин | {{ block.super }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/home.css' %}">
{% endblock  %}

{% block content %}

<h1>{{heading|upper|safe}}</h1>

<div>
    {% if totalProducts > 0 %}
        <p>Товарів: {{totalProducts}}</p>
        <p>В наявності: {{available_products}}</p>
    {% else %}
    Нажаль, склад порожній
    {% endif %}

    {% for product in latest_products %}
     <div> {{ product.name }} </div>
    {% endfor %}


</div>

<a href="{% url 'store:product_list' %}">Каталог</a>
<a href="/store/search">Пошук</a>
<a href="/store/orders">Замовлення</a>
{% endblock %}