{% extends "store/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "store/css/style.css" %}">
{% endblock %}

{% block title %}Каталог товарів | {{ block.super }}{% endblock  %}

{% block content %}

    {% if products %}
        <div class="product-grid">
                {% for product in products %}
                  {% include "store/components/product_card.html" with show_stock=False %}
                {% endfor %}
        </div>
    {% else %}
        <p>Товарів не знайдено</p>
    {% endif %}

{% endblock  %}